@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  font-family: "Lato", sans-serif;
  background-color: var(--color-background);
}

main {
  min-height: 100svh;
  width: 100%;
  display: flex;
  gap: var(--spacing-large);
  color: var(--color-text-light);
}

/* SIDEBAR STYLING */
.sidebar {
  max-width: 140px;
  padding: var(--spacing-large) var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-container-background);
}

.sidebar__title {
  padding-bottom: var(--spacing-medium);
  font-size: var(--font-size-medium);
  font-weight: 500;
}

.sidebar__buttonContainer {
  padding-bottom: var(--spacing-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.sidebar__button {
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: var(--boarder-radius-small);
  text-transform: capitalize;
  transition: background-color 0.05s linear;
}

.sidebar__button--active {
  background-color: var(--color-primary);
}

.sidebar__addativeLabel {
  padding-bottom: var(--spacing-medium);
}

.sidebar__addativeCheckbox {
  width: 1.5rem;
  height: 1.5rem;
}

/* COMPONENTS SECTION STYLING */
.components {
  padding: var(--spacing-large);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  background-color: var(--color-container-background);
}

.component__title {
  font-weight: 400;
  padding-bottom: var(--spacing-medium);
}

.component__state-container {
  padding-bottom: var(--spacing-large);
}

.component__state-title {
  padding-bottom: var(--spacing-medium);
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 586px) {
  main {
    gap: var(--spacing-small);
  }
}
